footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}