.contacts {
  padding: 40px 20px;
}

.contacts-title {
  text-align: center;
  margin-bottom: 30px;
}

.contacts-content {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.contacts-info {
  display: flex;
  justify-content: space-between;
}

.contacts-info .left,
.contacts-info .right {
  flex-direction: column;
  justify-content: center;
}

.contacts-info .right {
  gap: 40px;
}

.contacts-info .right p {
  margin: 0;
}

.contacts-map {
  flex: 2;
}

.contacts-map img {
  width: 100%;
  height: auto;
}

@media (max-width: 1440px){}
@media (max-width: 1280px){}
@media (max-width: 1152px){}
@media (max-width: 1024px){}
@media (max-width: 800px){}
@media (max-width: 768px){}
@media (max-width: 425px) {}
@media (max-width: 375px){}
@media (max-width: 320px) {}