.contacts {
  padding: 40px 20px;
}

.contacts-title {
  text-align: center;
  margin-bottom: 30px;
}

.contacts-content {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.contacts-info {
  display: flex;
  justify-content: space-between;
}

.contacts-info .left,
.contacts-info .right {
  flex-direction: column;
  justify-content: center;
}

.contacts-info .right {
  gap: 40px;
}

.contacts-info .right p {
  margin: 0;
}

.contacts-map iframe {
  width: 100%;
}

@media (max-width: 1440px){
  .contacts-info   {
    font-size: 1.9rem;
  }
}  
@media (max-width: 1024px){
  .contacts-info   {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px){
  .contacts-title {
    font-size: 2rem;
  }

  .contacts-info   {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .contacts-info {
    flex-direction: column;
    align-items: center;
  }
}