.nav__list {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 18px;
}

.burger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 425px) {
  .burger {
    display: block;
  }

  .nav__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(255, 255, 255, 0.592);
    padding: 20px;
    border-radius: 4px;
  }

  .nav__list.active {
    display: flex;
  }
}
