header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.logo__mail {
  font-size: 20px;
}

header button {
  margin-bottom: 10px;
}

@media (max-width: 1440px) {
  header button {
    font-size: 23px;
    padding: 15px 20px;
  }
}

@media (max-width: 1152px) {
  header button {
    font-size: 21px;
    padding: 10px 15px;
  }
}

@media (max-width: 1024px) {
  header button {
    font-size: 20px;
    padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  header button {
    font-size: 15px;
    padding: 8px 13px;
  }
}

@media (max-width: 425px) {
  .logo {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
  }

  header button {
    font-size: 13px;
    padding: 6px 11px;
  }
}